/* As dimensoes do container*/
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

/* As dimensoes do content-left*/
.content-left {
  background-image: url("..//images/bg-signup.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 40%;
  height: 100vh;
  position: relative;
}

.content-left .logo {
  position: relative;
}

.content-left .logo img {
  position: absolute;
  left: 5rem;
  top: 2rem;
}
.royal_stock{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: absolute;
top: 35%;
left: 20%;}

.royal_images {
  display: flex;
  align-items: center;
  background: #20dc49;
  border-radius: 4.7rem;
  width: 18rem;
  height: 4rem;
  margin-bottom: 10px;
}

.royal_images img {
  width: 40px;
  padding: 5px;
}
.royal_images p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 19px;
  color: #000000;
}

.stock {
  width: 18rem;
  background: rgba(0, 0, 0, 0.14);
  backdrop-filter: blur(2.1rem);
  border-radius: 1.4rem;
}
.stock img {
  background-color: #000000;
  margin-left: 12px;
  margin-top: 12px;
  border-radius: 5px;
  padding: 2px;

}

.stock p {
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 122.19%;
  padding: 10px;
  color: white;
}

.stock_paragraph {
  width: 220px;
  padding: 0 40px;
}
.image_editor{
display: flex;
align-items: center;
border-radius: 4.7rem;
background-color: #5a5a5a;
width: 15rem;
padding: 0 2px;
position: absolute;
top: 70%;
left:80%;
}

.image_editor img {
  width: 40px;
  padding: 5px;
  color: white;
}
.image_editor p{
font-size: 1.2rem;
color: white;}



/* As dimensoes do content-right*/
.content-right {
  background-color: #e5e5e5;
  width: 60%;
  height: 100vh;
}
.content-right .header {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
}

.header p {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #000000;
}

.header p a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #20dc49;
  text-decoration: none;
  cursor: pointer;
}

.get_started {
  width: 600px;
  height: 540px;
  margin: 2rem auto 0 auto;
  text-align: center;
}
.get_started h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 4.4rem;
  color: #000000;
}

.get_started h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.1rem;
  color: #7e7e7e;
  margin-bottom: 3rem;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.button button {
  width: 110px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  color: black;
  background-color: white;
}

.button button:first-child {
  border: 1px solid #20dc49;
  outline: none;
}
.button button:last-child {
  border: 1px solid #dedede;
}

.line {
  width: 30rem;
  height: 0.1rem;
  position: relative;
  background-color: #dbdbdb;
  margin: 30px auto 0 auto;
}

.line::before {
  content: "Or continue with";
  position: absolute;
  top: -1rem;
  left: 30%;
  background: #e5e5e5;
  font-size: 1.3rem;
  padding: 0 1.5rem;
  color: black;
}

form {
  margin-top: 3rem;
  gap: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  width: 30rem;
  height: 5rem;
  border: 1px solid #d9d9d9;
  border-radius: 1rem;
  padding: 0 1.5rem;
  outline: none;
}

.password {
  position: relative;
}
.password img {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
}
input[type="submit"] {
  background: #20dc49;
  border-radius: 10px;

  color: #000000;
}

.paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 1.3rem;
  color: #5a5a5a;
  margin-top: 2rem;
}
/* Responsividade */
@media (max-width:770px) {
  .content-left{
  display: none;
}
  .content-right{
  margin: auto;
  width: 100%;
  height: 100%;
}

.get_started{
width: 100%;}
}

